# Git
.git
.gitignore
.github

# Системные файлы
.DS_Store
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Директории сборки и тестов
/dist
/coverage
/.nyc_output
/test

# Документация
/docs
*.md

# Развертывание и конфигурация
.env
.env.*
!.env.example
docker-compose*.yml

# Другие файлы
*.log
*.swp
*.bak
.tmp